.container-1{
    width:70%;
    text-align: center;
    margin: 0 auto;
    border: solid;
}
.flex-box-container-1{
    display: flex; /* flex box*/
    padding: 10px;
    flex-wrap: wrap;
    flex-direction: row; /* by default
    flex-direction: column; will be vertical center */
    justify-content: space-around; /* style of flex box*/
   
}
.flex-box-container-1 div{
    padding: 10px; /* each div in flex-box-container-1 gets a padding of 1*/
    align-items: center;
}


